<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./favicon.png">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Aniquote</title>
</head>
<body class="flex flex-col min-h-screen">
    <app-bar></app-bar>

    <main>
        <div id="main-content" class="container flex flex-col mx-auto"></div>
    </main>

    <footer class="w-full p-1 text-center text-slate-50 bg-slate-950">
        <p>© <span id="copyright-year"></span> powered by Katanime</p>
        <i class="fa fa-heart-o" aria-hidden="true"></i>
    </footer>



</body>
</html>