@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#nav-drawer {
    transition: transform 0.5s ease;
}

.open {
    transform: translateX(0px) !important;
    transition: transform 0.5s ease;
}

main {
    flex: 1;
}